#Prevendo a Copa do Mundo 2022 com Python e SQL

Prática para prever o campeão da Copa do Mundo usando ciência de dados 

**[github.com/RKzeraa/CopaDoMundo2022](https://github.com/RKzeraa/CopaDoMundo2022)**

## 1. Estrutura com os [Grupos e Seleções](https://global.discourse-cdn.com/nubank/original/4X/d/d/b/ddb82274a8785b60d1a19df8aeee768e87091292.jpeg), além de seus respectivos scores ([Ranking FIFA](https://www.ogol.com.br/ranking_fifa.php))

In [43]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/RKzeraa/CopaDoMundo2022/main/data.csv')
df.head()

,A,B,C,D,E,F,G,H
0,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

##2. Classe que representa um time, com suas características e comportamentos:

In [44]:
import random

class Team:
  BEST_SCORE = 1837.6 # Brasil (BRA)

  # TODO: Definir um construtor com os atributos adequados (tendo em vista o conteúdo de uma célula do CSV)
  def __init__(self, data):
    teamData = data.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])

  def motivate(self):
    """ 
    A pior seleção da copa (GAN, segundo a FIFA) têm 1393.5 de score, o qual equivale a 75% do melhor score (BRA).
    Sendo assim, para que a aleatoriedade não seja tão determinante, podemos definir um intervalo inicial próximo de 75.
    
    Por exemplo, GAN poderia ter valores entre 70~75 (aproximadamente). Por outro lado, BRA teria 70~100 (maior chance de vitória).
    1837.6 (BRA) ----- 100
    1393.5 (GAN) -----  x
    """

    self.lastMotivation = random.uniform(70, (self.score * 100) / Team.BEST_SCORE)
    return self.lastMotivation

##3. Simulando a Fase de Grupos:

In [45]:
# Mapa em que a chave será a letra do grupo e o valor as seleções (que ordenaremos pelas "melhores").
bestTeamsByGroup = {}
# Percorre o dataframe (dados do CSV) para criar nossos objetos/seleções.
for label, content in df.items():
  team1 = Team(content[0])
  team2 = Team(content[1])
  team3 = Team(content[2])
  team4 = Team(content[3])
  # TODO: Instanciar as 4 seleções do grupo, com seus respectivos nomes e score.
  # TODO: Simular os melhores do grupo com base na motivação de cada seleção. 
  #       Calculada a partir do seu ranking FIFA aliado a uma pitada de aleatoriedade.
  bestTeamsByGroup [label] = sorted([ team1, team2, team3, team4 ], key = Team.motivate, reverse = True)
# TODO: Imprimir os grupos, ordenados pelas melhores seleções de cada (apenas 2 se classificam)
for grupo, motivatedTeams in bestTeamsByGroup.items():
  print(f'Grupo {grupo}: ', end = "")
  for team in motivatedTeams:
    print(f'{team.name} ({team.lastMotivation: .2f} ) ', end = "")
  print()

Grupo A: SEN ( 81.28 ) EQU ( 79.35 ) HOL ( 78.40 ) CAT ( 75.36 )
Grupo B: ING ( 89.90 ) IRA ( 76.41 ) EUA ( 75.90 ) GAL ( 71.42 )
Grupo C: MEX ( 79.20 ) ARG ( 78.59 ) POL ( 76.44 ) ARA ( 74.73 )
Grupo D: DIN ( 75.36 ) TUN ( 74.20 ) FRA ( 72.10 ) AUS ( 71.53 )
Grupo E: ESP ( 85.09 ) JAP ( 79.19 ) ALE ( 73.34 ) COS ( 72.56 )
Grupo F: BEL ( 91.31 ) CRO ( 84.76 ) MAR ( 82.48 ) CAN ( 74.12 )
Grupo G: BRA ( 86.19 ) SUI ( 74.58 ) CAM ( 74.14 ) SER ( 72.87 )
Grupo H: URU ( 78.62 ) COR ( 74.28 ) POR ( 73.68 ) GAN ( 70.01 )

## 4. Simulando as Oitavas de Final (16 melhores seleções)

In [46]:
# Criando vaiáveis para as 2 melhores seleções de cada grupo:
team1A = bestTeamsByGroup['A'][0]
team2A = bestTeamsByGroup['A'][1]
team1B = bestTeamsByGroup['B'][0]
team2B = bestTeamsByGroup['B'][1]
team1C = bestTeamsByGroup['C'][0]
team2C = bestTeamsByGroup['C'][1]
team1D = bestTeamsByGroup['D'][0]
team2D = bestTeamsByGroup['D'][1]
team1E = bestTeamsByGroup['E'][0]
team2E = bestTeamsByGroup['E'][1]
team1F = bestTeamsByGroup['F'][0]
team2F = bestTeamsByGroup['F'][1]
team1G = bestTeamsByGroup['G'][0]
team2G = bestTeamsByGroup['G'][1]
team1H = bestTeamsByGroup['H'][0]
team2H = bestTeamsByGroup['H'][1]

# TODO: Simular os confrontos das Oitavas de Final (randomizando novamente suas respectivas motivações).
#       Além disso, também definir os classificados para as quartas de final em novas vaiáveis:
quarter1 = team1A if team1A.motivate() > team2B.motivate() else team2B
quarter2 = team1C if team1C.motivate() > team2D.motivate() else team2D
quarter3 = team1E if team1E.motivate() > team2F.motivate() else team2F
quarter4 = team1G if team1G.motivate() > team2H.motivate() else team2H
quarter5 = team1B if team1B.motivate() > team2A.motivate() else team2A
quarter6 = team1D if team1D.motivate() > team2C.motivate() else team2C
quarter7 = team1F if team1F.motivate() > team2E.motivate() else team2E
quarter8 = team1H if team1H.motivate() > team2G.motivate() else team2G

print(f'{team1A.name} ({team1A.lastMotivation: .2f}) x {team2B.name} ({team2B.lastMotivation: .2f} )')
print(f'{team1C.name} ({team1C.lastMotivation: .2f}) x {team2D.name} ({team2D.lastMotivation: .2f} )')
print(f'{team1E.name} ({team1E.lastMotivation: .2f}) x {team2F.name} ({team2F.lastMotivation: .2f} )')
print(f'{team1G.name} ({team1G.lastMotivation: .2f}) x {team2H.name} ({team2H.lastMotivation: .2f} )')
print(f'{team1B.name} ({team1B.lastMotivation: .2f}) x {team2A.name} ({team2A.lastMotivation: .2f} )')
print(f'{team1D.name} ({team1D.lastMotivation: .2f}) x {team2C.name} ({team2C.lastMotivation: .2f} )')
print(f'{team1F.name} ({team1F.lastMotivation: .2f}) x {team2E.name} ({team2E.lastMotivation: .2f} )')
print(f'{team1H.name} ({team1H.lastMotivation: .2f}) x {team2G.name} ({team2.lastMotivation: .2f} )')

# TODO: Imprimir os "resultados" dos confrontos realizados nas Oitavas de Final:

SEN ( 79.91) x IRA ( 82.26 )
MEX ( 86.42) x TUN ( 78.62 )
ESP ( 86.07) x CRO ( 87.83 )
BRA ( 98.13) x COR ( 81.95 )
ING ( 78.65) x EQU ( 76.71 )
DIN ( 78.24) x ARG ( 76.80 )
BEL ( 78.93) x JAP ( 72.35 )
URU ( 76.16) x SUI ( 70.01 )

## 5. Simulando as Quartas de Final (8 melhores seleções)

In [47]:
# TODO: Simular os confrontos das Quartas de Final (randomizando novamente suas respectivas motivações).
#       Além disso, também definir os classificados para as semifinais em novas vaiáveis:
semi1 = quarter1 if quarter1.motivate() > quarter2.motivate() else quarter2
semi2 = quarter3 if quarter3.motivate() > quarter4.motivate() else quarter4
semi3 = quarter5 if quarter5.motivate() > quarter6.motivate() else quarter6
semi4 = quarter7 if quarter7.motivate() > quarter8.motivate() else quarter8

print(f'{quarter1.name} ({quarter1.lastMotivation: .2f}) x {quarter2.name} ({quarter2.lastMotivation: .2f} )')
print(f'{quarter3.name} ({quarter3.lastMotivation: .2f}) x {quarter4.name} ({quarter4.lastMotivation: .2f} )')
print(f'{quarter5.name} ({quarter5.lastMotivation: .2f}) x {quarter6.name} ({quarter6.lastMotivation: .2f} )')
print(f'{quarter7.name} ({quarter7.lastMotivation: .2f}) x {quarter8.name} ({quarter8.lastMotivation: .2f} )')

# TODO: Imprimir os "resultados" dos confrontos realizados nas Quartas de Final:

IRA ( 78.17) x MEX ( 88.84 )
CRO ( 79.78) x BRA ( 86.80 )
ING ( 72.58) x DIN ( 76.88 )
BEL ( 75.38) x SUI ( 87.16 )

## 6. Simulando as Semifinais (4 melhores seleções)

In [48]:
# TODO: Simular os confrontos das Semifinais (randomizando novamente suas respectivas motivações).
#       Além disso, também definir os classificados para a final e disputa de 3º e 4º em novas vaiáveis:

'''
final1 = semi1 if semi1.motivate() > semi2.motivate() else semi2
terceiro1 = semi2 if semi1.lastMotivation > semi2.lastMotivation else semi1

final2 = semi3 if semi3.motivate() > semi4.motivate() else semi4
terceiro2 = semi4 if semi4.lastMotivation > semi3.lastMotivation else semi3
'''

final1 = None
terciero1 = None
if semi1.motivate() > semi2.motivate():
  final1 = semi1
  terceiro1 = semi2
else:
  final1 = semi2
  terceiro1 = semi1

final2 = None
terciero2 = None
if semi3.motivate() > semi4.motivate():
  final2 = semi3
  terceiro2 = semi4
else:
  final2 = semi4
  terceiro2 = semi3

print(f'{semi1.name} ({semi1.lastMotivation: .2f}) x {semi2.name} ({semi2.lastMotivation: .2f} )')
print(f'{semi3.name} ({semi3.lastMotivation: .2f}) x {semi4.name} ({semi4.lastMotivation: .2f} )')


# TODO: Imprimir os "resultados" dos confrontos realizados nas Semifinais:

MEX ( 75.30) x BRA ( 75.10 )
DIN ( 76.44) x SUI ( 73.38 )

## 7. Simulando a Final (2 melhores seleções)

In [49]:
# TODO: Simular os confrontos das Finais (randomizando novamente suas respectivas motivações).
#       Além disso, também definir os 4 primeiros colocamos da Copa do Mundo de 2022:
winner = final1 if final1.motivate() > final2.motivate() else final2 
second = final1 if final1.lastMotivation < final2.lastMotivation else final2
third = terceiro1 if terceiro1.motivate() > terceiro2.motivate() else terceiro2 
fourth = terceiro1 if terceiro1.lastMotivation < terceiro2.lastMotivation else terceiro2

print(f'Campeão: {winner.name} ({winner.lastMotivation: .2f} )')
print(f'Segundo: {second.name} ({second.lastMotivation: .2f} )')
print(f'Terceiro: {third.name} ({third.lastMotivation: .2f} )')
print(f'Quarto: {fourth.name} ({fourth.lastMotivation: .2f} )')

# TODO: Imprimir os "resultados" dos confrontos realizados nas Finais:

Campeão: DIN ( 86.99 )
Segundo: MEX ( 80.99 )
Terceiro: BRA ( 91.65 )
Quarto: SUI ( 70.65 )